body{
	background: f1f1f1;
	font-family: Helvetica;
	margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 300;
    display: flex;
}

h1{
    font-size: 60px;
    font-weight: 300;
    color: #000;
    font-outline: white;
    outline-width: medium;
    border: thick;
}
.skillsGrid h1{
    color: #87ceeb;
}

h2{
    font-size: 50px;
    font-weight: 300;
}
h3{
    font-size: 25px;
    font-weight: 300;
}


  
  

.aboutGrid p{
    background: whitesmoke;
    padding: 20px;
    border-radius: 2px;
}
.underlined {
  color: black;
  flex: 1;
  font-size: 2em;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, black 0, black 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;
}
  .aboutGrid p a:hover {
    background-size: 100% 100%;
  }
  
h4 {
  font-size: 100px;
  margin: 2px;
  writing-mode: vertical-lr;
  text-align: center;
  line-height: .9;
}

.container{
    width: 100%;
}
.navbar{
	background-color: rgb(36, 36, 36);
	opacity: 0.95;
	height: 66px;
	width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
}
.navbar ul li a {
	font-size: 20px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.65);
	text-decoration: none;
	margin-left: 18px;
	margin-top: -2%;
	display: inline-block;
}
nav li{
    
    display: inline;
    
}
.navbar ul li a:hover {
    color: white;
    transition: 0.8s;
    font-size: 22px;
}

section{
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 106vh;
    background: white;
    overflow:auto;

}

#top{
    background: url("img/wallpaper.jpg") no-repeat center center/cover;
    width: 100%;
}
#about{
    background: url("img/tWbFZG.jpg") no-repeat center center/cover;
    width: 100%;
    grid-template-columns: repeat(3, minimax(250px, 1fr));
}
#skills{
    background: url("img/Solar gradients 01.jpg") no-repeat center center/cover;
    width: 100%;
    height:124vh;
}
#experience{
    background: #f1f1f1;
}
#api{
    background: #f1f1f1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#contact{
    background: url("img/restaurant.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100vh;
}

.aboutGrid{
    position: absolute;
    top: 0;
    font-size: 20px;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: minmax(250px, auto);
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    display: grid;
    position: relative;
    grid-auto-flow: dense;
    margin: 25px;
}

.aboutGrid .aboutH1:nth-child(3){
    grid-column: span 2;
    min-width: 300px;
    min-height: 240px;
}
.xpGrid{
    
}


.portrait{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}



.contact{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.contact h1{
    width: 100%;
    color: #800000;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}
.contact .row{
    position: relative;
    width: 100%;
    display: grid;
    margin-left: 45%;

}
.contact .row .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.4s;
}
.contact .row .inputBox{
    position: relative;
    width: 45%;
    height: 40px;
    color: #008080;
}
.contact .row .inputBox input,
.contact .row .inputBox textarea{
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    z-index: 1;
    font-size: 20px;
    padding: 0px 10px;
    color: #b8860b;
}
.contact .row .inputBox .text{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    font-size:18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.contact .row .inputBox input:focus + .text, .contact .row .inputBox input:valid + .text{
    top: -35px;
    right: -10px;
}
.contact .row .inputBox .line{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #008080;
    transition: 0.5s;
    border-radius: 4px;
    pointer-events: none;
}
.contact .row .inputBox input:focus ~ .line,
.contact .row .inputBox input:valid ~ .line{
    height: 100%;
}
.contact .row .inputBox .textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.contact .row .inputBox textarea{
    height: 100%;
    resize: none;
}
.contact .row .inputBox textarea:focus + .text,
.contact .row .inputBox textarea:valid + .text{
    top: -35px;
    right: -10px;
}
.contact .row .inputBox textarea:focus ~ .line,
.contact .row .inputBox textarea:valid ~ .line{
    height: 100%;
}

input[type="submit"]{
    border: none;
    padding: 8px 38px;
    cursor: pointer;
    outline: none;
    background: #008080;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: -280px;
}

.gridContainer{
    position: absolute;
    top: 0;
    font-size: 20px;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: minmax(250px, auto);
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    display: grid;
    position: relative;
    grid-auto-flow: dense;
    margin: 25px;
    padding-bottom:30px;
    height: 45%;
    
}

.gridContainer .gridBox{
    min-width: 175px;
    min-height: 240px;
    max-height:240px;
    overflow:auto;
    border-radius: 10px;
    background:white;
}
.gridContainer .gridBox:nth-child(3){
    grid-column: span 2;
    min-width: 300px;
    min-height: 240px;
}
.gridContainer .gridBox:nth-child(5) .contentBox{
    padding-top: 20px;
}
.gridContainer .gridBox .contentBox img{
    margin-bottom: -40px;
}

.contentBox{
    padding: 25px;
    background: white;
    padding-bottom: 10px;
    padding-top: 10px;
    max-height: 200px;
}
.contentBox p{
    background: white;
}
.contentBox img{
    width: 100%;
    max-width: 200px;
    margin-bottom: -10px;
}

.wrapper{
    width: 1170px;
    margin: auto;
    font-size: 14px;
    line-height: 28px;
    padding: 30px 0 30px;
    color: darkgray;
}
.wrapper h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15%;
    text-align: left;
}
.wrapper img{
    width: 100%;
}

.img-area{
    width: 40%;
    float: left;
}

.skills-area{
    width: 55%;
    position: relative; 
    float: right;
    margin-top: 110px;
}

.box{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: none;
    
}

.box li{
    margin-bottom: 50px;
    height: 35px;
    left:100px;

}

.box li b{
    position: relative;
    top: -40px;
    font-size: 22px;
    color: lightgrey;
    text-decoration: border black 3px;
    
}

.line{
    height: 18px;
    margin: 2px 0;
    background: white;
    position: absolute;
    left: 100px;
    border-radius: 10px;

}

.box1{
    width: 75%;
    animation: box1 2s ease-out;
}

.box2{
    width: 65%;
    animation: box1 2s ease-out;
}

.box3{
    width: 50%;
    animation: box1 2s ease-out;
}

.box4{
    width: 65%;
    animation: box1 2s ease-out;
}

.box5{
    width: 70%;
    animation: box1 2s ease-out;
}

.box6{
    width: 60%;
    animation: box1 2s ease-out;
}
.box7{
    width: 30%;
    animation: box1 2s ease-out;
}
.box8{
    width: 70%;
    animation: box1 2s ease-out;
}

@keyframes box1{
    0%{
        width: 0;
    }
    75%{
        width: 75%;
    }
}
@keyframes box2{
    0%{
        width: 0;
    }
    65%{
        width: 65%;
    }
}
@keyframes box3{
    0%{
        width: 0;
    }
    50%{
        width: 50%;
    }
}
@keyframes box4{
    0%{
        width: 0;
    }
    65%{
        width: 65%;
    }
}
@keyframes box5{
    0%{
        width: 0;
    }
    50%{
        width: 60%;
    }
}
@keyframes box6{
    0%{
        width: 0;
    }
    50%{
        width: 50%;
    }
}
@keyframes box7{
    0%{
        width: 0;
    }
    50%{
        width: 30%;
    }
}
@keyframes box8{
    0%{
        width: 0;
    }
    50%{
        width: 70%;
    }
}




::-webkit-scrollbar{
    width: 0;
}

#scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 4px;
    
    background: rgba(255, 255, 255, 1);
}

#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    z-index: 1;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%, 100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}



.perspective-text {
  color: white;
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.perspective-text p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}
.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}
.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}
.perspective-text:hover p {
  transform: translate(0, -50px);
}
.perspective-line:nth-child(1) {
  left: 29px;
}
.perspective-line:nth-child(2) {
  left: 58px;
  background: #800000;
}
.perspective-line:nth-child(3) {
  left: 87px;
  background: #808000;
}
.perspective-line:nth-child(4) {
  left: 116px;
  background: #191970;
}
.perspective-line:nth-child(5) {
  left: 145px;
  background: #d2b48c;
}

.apiGrid{
    position: absolute;
    top: 0;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: minmax(400px, auto);
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    display: grid;
    position: relative;
    grid-auto-flow: dense;
    margin: 25px;
    padding-bottom:30px;
    
}

.apiGrid .gridBox{
    width: 100%;
}